# 服务器监听设置
hostname: 127.0.0.1
port: 3000

# 服务器URL（以/结尾）
serverURL: https://myseu.cn/grh/
# wx-oauth重定向网址（以/结尾）
redirectURL: 'http://10.203.180.105:8080/'

# MongoDB 配置
# mongodbURL: 'mongodb://username:password@host:port/dbname?authMechanism=DEFAULT'
mongodbURL: 'mongodb://127.0.0.1:27017/Trouble'

# wechat设置
appID : 'wx12345679'
appsecret : '1234566789'
token : 'zzj'
userTemplateId: 'YDpJMjuLpl5cO1YjccV785H-ZfILsxGncIB-aqNhXk0'
staffTemplateId: 'Ch_O3_EmPPyxrKee0FHCXCJIGEa6fgXecNgddyvJav8'

#ids小程序签名
idsSecret: 'xxxxxx'

# CAS认证(不以/结尾)
casLoginURL: https://newids.seu.edu.cn/authserver/login
casServiceValidateURL: https://newids.seu.edu.cn/authserver/serviceValidate

# 外部对接oauth
exportOAuth: 
    wisedu: 
        secretKey: <fake-secret>
        urlMap: 
            key0: https://www.example.cn/route1/
            key1: https://www.example.cn/route2/

# 对接东大服务台
wisedu_api_key: fake_api_key
wisedu_secret: fake_secret
wisedu_server: fake_server
seic_api_key: seic_api_key
seic_secret: seic_secret
